.weather-info {
    background-color: #0ea2ed;
    border-radius: 10px;
    padding: 20px;
    text-align: center;
    max-width: 300px;
    margin: 0 auto;
  }
  
  .weather-main {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
  }
  
  .weather-icon {
    width: 100px;
    height: 100px;
  }
  
  .temperature {
    font-size: 3em;
    font-weight: bold;
    margin-left: 10px;
  }
  
  .weather-description {
    font-size: 1.2em;
    margin-bottom: 15px;
  }
  
  .weather-details {
    display: flex;
    justify-content: space-around;
  }
  
  .detail {
    display: flex;
    flex-direction: column;
  }
  
  .label {
    font-weight: bold;
    margin-bottom: 5px;
  }